.container{
  max-width: 92%;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

.item-image__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-1 {
  margin-bottom: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template: 
    "a b" 280px
    "a c" 280px;
  
}
.grid-1-item:nth-child(1) {
  grid-area: a;
}
.grid-1-item:nth-child(2) {
  grid-area: b;
}
.grid-1-item:nth-child(3) {
  grid-area: c;
}

.grid-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  "h i j"
  "k l l"
  "m m n"
  "m m n";
}
.grid-2-item:nth-child(1) {
  grid-area: h;
}
.grid-2-item:nth-child(2) {
  grid-area: i;
}
.grid-2-item:nth-child(3) {
  grid-area: j;
}
.grid-2-item:nth-child(4) {
  grid-area: k;
}
.grid-2-item:nth-child(5) {
  grid-area: l;
}
.grid-2-item:nth-child(6) {
  grid-area: m;
}
.grid-2-item:nth-child(7) {
  grid-area: n;
}